<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>G-Circle</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   <style>
      nav {
         height: 50px;
         line-height: 45px;
      }
      div.navigation {
         display: flex;
         justify-content: space-between;
         padding: 0px 10px;
      }
      div.navigation-child a {
         margin-right: 20px;
      }
      a.navigation-items {
         color: white;
         text-decoration: none;
         font-weight: bold;
      }
      a.navigation-items:hover {
         text-decoration: none;
      }
      section {
         display: flex;
         justify-content: center;
         align-items: center;
      }
      img.landing {
         text-align: center;
      }
   </style>
</head>
