<body>
   <nav>
      <ul>
         <li><a href ="/">Home</a></li>
         <li><a href ="/">Games</a></li>
         <li><a href ="/">Users</a></li>
         <li><a href ="/">Login</a></li>
      </ul>
   </nav>