<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>

<form action="/" method="POST">
   <label for="username">Username</label>
   <input type="text" name="username" required autofocus> <br>
   <label for="password">Password</label>
   <input type="password" name="password" required>
   <input type="submit">
</form>




<%- include('./partials/footer.ejs') %>