<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>
  <section>
     <div style="text-align: center;">
        <h1>Welcome to G-Circle</h1>
        <img src="https://i.pinimg.com/236x/9d/a9/01/9da9017bd4a45a6f4f10b2101d1f32dd.jpg" class="landing">
        <p>Lunar Year Sale</p>
        <p><del>500000</del>300000</p>
     </div>
  </section>

<%- include('./partials/footer.ejs') %>