<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>

<div style="text-align: center;">
  <h1>Purchase Order</h1>
  <h2>Transaction Receipt :</h2>
  <h3><%= resi %> </h3> 
  <h4><a href="/games">Look Another Game>></a></h4> 
</div>


<%- include('./partials/footer.ejs') %>